.Rproj.user
.Rhistory
.RData
.httr-oauth
.DS_Store
.quarto
# Archivos temporales de R
.Ruserdata
.Rapp.history

# Archivos de compilación de paquetes
*.tar.gz
*.Rcheck/

# Carpetas de documentación generadas
inst/doc

# Archivos de cache de knitr
*_cache/
cache/

# Salidas de vignettes
vignettes/*.html
vignettes/*.pdf

# Archivos de ejemplo grandes
data-raw/
.Rproj.user
